.cta {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;

	&__wrap {
		@include bg-dark-granite;
		@include rounded;
		display: flex;
		flex-wrap: wrap;

		@media (max-width: 800px) {
			flex-direction: column;
		}
	}

	&__background {
		flex-grow: 1;
		background: url("../img/form.png") no-repeat center;
		background-size: cover;

		@media (max-width: 800px) {
			height: 15rem;
		}
	}

	&__main {
		flex-shrink: 0;
		max-width: 100%;
		padding: clamp(1.5rem, 5vw, 2.5rem);
		display: flex;
		flex-direction: column;
		gap: clamp(1rem, 5vw, 1.5rem);
	}
}