.inner {
    padding-top: 3rem;
    padding-bottom: 3rem;

    &__image {
        display: flex;
        justify-content: center;
        overflow: hidden;
        position: relative;
        margin: clamp(1.5rem, 5vw, 3.5rem) 0;

        picture {
            min-width: 800px;
        }
    }

    &__markers {
        position: absolute;
        width: 100%;
        height: auto;
        min-width: 800px;
        background-size: cover;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2rem;

        @media (max-width: 900px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            grid-row-gap: 2rem;
        }

        @media (max-width: 500px) {
            grid-template-columns: 1fr;
            grid-row-gap: 1rem;
        }
    }

    &-item {
        &__icon {
            @include square(clamp(2.5rem, 5vw, 3.5rem));
            flex-shrink: 0;
            fill: color('accent');
            margin-bottom: 1rem;
        }

        &__title {
            @include text-caption;
            font-size: clamp(1.25rem, -1rem + 4vw, 1.5rem);
            margin-bottom: clamp(0.5rem, -1rem + 4vw, 1rem);
        }

        &__text {
            font-size: size('text');
        }

        @media (max-width: 500px) {
            display: flex;
            gap: 1.5rem;
            align-items: center;
        }
    }
}