.inner {
    padding-top: 3rem;
    padding-bottom: 3rem;

    // &__image {
    //     display: flex;
    //     justify-content: center;
    //     overflow: hidden;
    //     position: relative;
    //     margin: clamp(1.5rem, 5vw, 3.5rem) 0;

    //     picture {
    //         min-width: 800px;
    //     }
    // }

    // &__markers {
    //     position: absolute;
    //     width: 100%;
    //     height: auto;
    //     min-width: 800px;
    //     background-size: cover;
    // }

    &__image {
        position: relative;
        margin: clamp(1.5rem, 5vw, 3.5rem) 0;
    }

    &__point {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        @include square(clamp(1rem, 2vw, 1.5rem));
        @include rounded(100%);
        background: color('accent');
        border: 4px solid #fff;
        cursor: pointer;

        &-1 {
            top: 53.42%;
            left: 60.67%;
        }

        &-2 {
            top: 40%;
            left: 42.08%;
        }

        &-3 {
            top: 71.68%;
            left: 73.28%;
        }

        &-4 {
            top: 67.4%;
            left: 50.67%;
        }

        &-tooltip {
            background: rgba(#fff, .7);
            backdrop-filter: blur(18px);
            padding: .5rem 1rem;
            color: color('text');
            @include rounded;
            @include transition;
            text-align: center;
            visibility: hidden;
            opacity: 0;
            margin-bottom: 1.5rem;
            pointer-events: none;
        }

        &:hover > &-tooltip, &:focus > &-tooltip {
            visibility: visible;
            opacity: 1;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2rem;

        @media (max-width: 900px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            grid-row-gap: 2rem;
        }

        @media (max-width: 500px) {
            grid-template-columns: 1fr;
            grid-row-gap: 1rem;
        }
    }

    &-item {
        &__icon {
            @include square(clamp(2.5rem, 5vw, 3.5rem));
            flex-shrink: 0;
            fill: color('accent');
            margin-bottom: 1rem;
        }

        &__title {
            @include text-caption;
            font-size: clamp(1.25rem, -1rem + 4vw, 1.5rem);
            margin-bottom: clamp(0.5rem, -1rem + 4vw, 1rem);
        }

        &__text {
            font-size: size('text');
        }

        @media (max-width: 500px) {
            display: flex;
            gap: 1.5rem;
            align-items: center;
        }
    }
}