.outer {
	height: clamp(31rem, 70vw, 68rem);
	position: relative;
	overflow: hidden;
	padding-bottom: clamp(3rem, 10vw, 5.5rem);
	font-size: size('text');
	@include bg-base-granite;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		right: 0;
		bottom: 0;
		background: linear-gradient(180deg, rgba(#CCB49A, 0) 0%, rgba(#CCB49A, 1) 100%);
		pointer-events: none;
	}
	
	&__scheme {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}

	&__main {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
		pointer-events: none;
		z-index: 2;
	}

	&__description {
		font-weight: 500;
		width: 30.5rem;
		max-width: 100%;
	}
}